<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configurador Genrod</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="container text-center pt-5">
            <div class='jumbotron'>
                <h1>Configurador Genrod</h1>
                <center><div class="text-center" style="max-width:500px">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in formulario_gabinete %}
                        <div class="row">
                            <div class='col-sm-6 form-group text-right'>
                                <label for="{{ field.name }}">{{ field.label }}:</label>
                            </div>
                            <div class='col-sm-6 form-group text-left'>
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                        <center>
                            <button type="submit" class="btn btn-success btn-lg m-3">Cargar</button>
                        </center>
                    </form>
                </div></center>
                <br>
                <div>
                    <h3>Subpanel Calado Abisagrado</h3>
                    <table  class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Codigo EU</th>
                                <th>Descripcion</th>
                                <th>Codigo Proveedor</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entrada_cal_abis in entradas_genrod_calado_abisagrado %}
                            <tr>
                                <td>{{ entrada_cal_abis.0 }}</td>
                                <td>{{ entrada_cal_abis.1 }}</td>
                                <td>{{ entrada_cal_abis.2 }}</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>{{ entrada_cal_abis.3 }}</td>
                                <td>{{ entrada_cal_abis.4 }}</td>
                                <td>{{ entrada_cal_abis.5 }}</td>
                                <td>{{ entrada_cal_abis.6 }}</td>
                            </tr>
                            <tr>
                                <td>{{ entrada_cal_abis.7 }}</td>
                                <td>{{ entrada_cal_abis.8 }}</td>
                                <td>{{ entrada_cal_abis.9 }}</td>
                                <td>{{ entrada_cal_abis.10 }}</td>
                            </tr>
                            <tr>
                                <td>{{ entrada_cal_abis.11 }}</td>
                                <td>{{ entrada_cal_abis.12 }}</td>
                                <td>{{ entrada_cal_abis.13 }}</td>
                                <td>{{ entrada_cal_abis.14 }}</td>
                            </tr>
                            <tr>
                                <td>{{ entrada_cal_abis.15 }}</td>
                                <td>{{ entrada_cal_abis.16 }}</td>
                                <td>{{ entrada_cal_abis.17 }}</td>
                                <td>{{ entrada_cal_abis.18 }}</td>
                            </tr>
                            <tr>
                                <td>26070132</td>
                                <td>Riel DIN NS-35/7.5   c/Perf. 1.00m.</td>
                                <td>NS-35/P (Zoloda)</td>
                                <td>{{ entrada_cal_abis.18 }}</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <h3>Subpanel Ciego Abisagrado</h3>
                    <table  class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Codigo EU</th>
                                <th>Descripcion</th>
                                <th>Codigo Proveedor</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entrada_cie_abis in entradas_genrod_ciego_abisagrado %}
                            <tr>
                                <td>{{ entrada_cie_abis.0 }}</td>
                                <td>{{ entrada_cie_abis.1 }}</td>
                                <td>{{ entrada_cie_abis.2 }}</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>{{ entrada_cie_abis.3 }}</td>
                                <td>{{ entrada_cie_abis.4 }}</td>
                                <td>{{ entrada_cie_abis.5 }}</td>
                                <td>{{ entrada_cie_abis.6 }}</td>
                            </tr>
                            <tr>
                                <td>{{ entrada_cie_abis.7 }}</td>
                                <td>{{ entrada_cie_abis.8 }}</td>
                                <td>{{ entrada_cie_abis.9 }}</td>
                                <td>{{ entrada_cie_abis.10 }}</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <h3>Subpanel Ciego Fijo</h3>
                    <table  class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Codigo EU</th>
                                <th>Descripcion</th>
                                <th>Codigo Proveedor</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entrada_cie_fijo in entradas_genrod_ciego_fijo %}
                            <tr>
                                <td>{{ entrada_cie_fijo.0 }}</td>
                                <td>{{ entrada_cie_fijo.1 }}</td>
                                <td>{{ entrada_cie_fijo.2 }}</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>{{ entrada_cie_fijo.3 }}</td>
                                <td>{{ entrada_cie_fijo.4 }}</td>
                                <td>{{ entrada_cie_fijo.5 }}</td>
                                <td>{{ entrada_cie_fijo.6 }}</td>
                            </tr>
                            <tr>
                                <td>{{ entrada_cie_fijo.7 }}</td>
                                <td>{{ entrada_cie_fijo.8 }}</td>
                                <td>{{ entrada_cie_fijo.9 }}</td>
                                <td>{{ entrada_cie_fijo.10 }}</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <a href="http://127.0.0.1:8000/"><button type="submit" class="btn btn-danger btn-lg m-3">Volver al Inicio</button></a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>