<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Electro Universo :: Sabemos más damos más</title>
        <meta name="description" content="Somos una empresa especialista enfocada en brindar las mejores soluciones a nuestros clientes buscando siempre el desarrollo de nuestra gente.">
        <meta name="keywords" content="materiales electricos, proveedores de materiales electricos, casas de materiales electricos, mayorista de materiales electricos, iluminacion led, lamparas, luminarias, reflectores">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/royalslider.css">
        <link rel="stylesheet" href="css/rs-minimal-white.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" type="text/css" href="css/cubeportfolio.min.css">
        <link rel="stylesheet" href="admin/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/main_queries.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

		<!-- Empieza Codigo de Pixel Facebook -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '394284950953018');
		fbq('track', 'PageView');
		</script>

		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=394284950953018&ev=PageView&noscript=1"
		/></noscript>
		<!-- Cierra Pixel Facebook -->



    </head>


    <script>
    function noMostrarErrores(){ return true }
    window.onerror=noMostrarErrores;

    function reset_options() {
        document.getElementById('cat').selectedIndex = 0;
        document.getElementById('tipo').selectedIndex = 0;
        document.getElementById('marca').selectedIndex = 0;
        return true;
    }
    </script>


    <body onload='reset_options()'>

        <!--[if gte IE 9]>
          <style type="text/css">
            .gradient {
               filter: none;
            }
          </style>
        <![endif]-->


        <header class="fluid-container">
            <div class="fondoRedelec">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 redelec">
                            <a  target=0><img src="img/redelec.png" alt="Redelec"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="container">
                <div class="row">
                    <div class="encabezado">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="brand">
                                <a href="index.php" title="Electro Universo"><img src="img/electro_universo.png" alt="Electro Universo"></a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div class="sabemosHeader mobileOFF">
                                <img src="img/sabemos_mas_damos_mas.png" alt="Electro Universo Sabemos más damos más">
                            </div>
                        </div>

                               <!-- Edgar Modificacion WP -->

                               <!-- Edgar Modificacion WP -->


                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="atencionHome">




                                <a href="tel:01143083300"><img src="img/atencion.png" alt="Electro Universo 43083300"></a><br>
                                <a href="envianos_cv.php" title="Envianos tu CV" class="mobileOFF"><img src="img/enviar_cv2.png" alt="Envianos tu CV"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fondoNav gradient">
                <div class="container">
                    <div class="row">
                            <!-- Main Nav -->
                            <nav class="navbar navbar-default">
                              <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li class=""><a href="index.php">Inicio</a></li>



                                    <li class="dropdown active">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Productos</a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="productos_categorias.php">Categorías</a></li>
                                        <li><a href="marcas_asociadas.php">Aliados Estratégicos</a></li>
                                        <li><a href="soluciones_integradas.php">Soluciones Integrales</a></li>
                                      </ul>
                                    </li>

                                    <li class="dropdown ">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Servicios</a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="centro_a_distancia.php">Atención a Distancia</a></li>
                                        <li><a href="atencion_empresa.php">Atención en su empresa</a></li>
                                        <li><a href="punto_de_ventas.php">Punto de Venta</a></li>
                                        <li><a href="stock.php">Stock</a></li>
                                        <li><a href="logistica.php">Logística</a></li>
                                        <li><a href="capacitaciones.php">Capacitación</a></li>
                                      </ul>
                                    </li>

									<li class="dropdown ">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Institucional</a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="quienes_somos.php">Quienes Somos</a></li>
                                        <li><a href="como_vemos_nuestro_negocio.php">Cómo vemos Nuestro Negocio</a></li>
                                        <li><a href="nuestra_gente.php">Nuestra Gente</a></li>
                                        <li><a href="mision_vision.php">Misión, Visión y Valores</a></li>
                                        <li><a href="materiales_institucionales.php">Materiales Institucionales</a></li>
                                      </ul>
                                    </li>

                                           <!-- /modificado AS/EE   -->

                                         <li class=""><a href="fegime.php">FEGIME Latam</a></li>
                                    <!-- /modificado AS/EE   -->








                                    <li class=""><a href="contacto.php">Contacto</a></li>


                                  </ul>

                                  <ul class="nav navbar-nav navbar-right">

                                    <!-- / Edgar Modificado Whatsapp
                                     -->
                                        <a href="https://wa.me/541165748471?text= " title="WhatsApp" target=0><img src="img/ico_whatsapp.jpg" alt="WhatsApp"></a>


                                         <!-- /
                                     -->

                                        <a href="https://www.facebook.com/ElectroUniversoComunidad/" title="Facebook" target=0><img src="img/ico_facebook.jpg" alt="Facebook"></a>
                                        <a href="https://ar.linkedin.com/company/electro-universo" title="Linkedin" target=0><img src="img/ico_linkedin.jpg" alt="Linkedin"></a>


                                        <a href="https://www.instagram.com/electro.universo/?igshid=kvosbsqdz5ap" title="Instagram" target=0><img src="img/insta.jpg" alt="Instagram"></a>
                                   </ul>

                                </div><!-- /.navbar-collapse -->
                              </div><!-- /.container-fluid -->
                            </nav>
                        <!-- Fin Main Nav -->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>



    <div id="contactWhatsapp" title="Contactanos">
        <a href="https://wa.me/5491165748471/">
            <span id="contactText">Contáctanos!</span>
                                      <br> <p><p><b>8Hs a 18Hs<b><br>
        </a>
        <a href="https://wa.me/5491165748471/" class="contactParpadeo">
            <img style="width: 75px;" src="img/whatsapp-logo.svg">
        </a>
    </div>

    <style>
        #contactWhatsapp {
            margin-right: 40px;
            position: fixed;
            bottom: 5%;
            right: 0px;
            width: 300px;
            z-index: 99;
            outline: none;
            /* cursor: pointer; */
            border-radius: 13px;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
        }
        #contactText {
            padding: 20px;
            background: white;
            border: 2px solid #00529A;
            -moz-border-radius: 35px;
            -webkit-border-radius: 35px;
            font-weight: 500;
            font-size: 26px;
            color: #00529A;
        }
        #contactText, a{
            text-decoration: none;
        }
        #contactText, a:hover{
            text-decoration: none;
        }

        .contactParpadeo {
            display: flex;
            justify-content: center;
            align-items: center;
            animation-name: parpadeo;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            -webkit-animation-name:parpadeo;
            -webkit-animation-duration: 1s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
        }

        @-moz-keyframes parpadeo{
            0% {
                background: rgba(0, 219, 40, 0.1);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
              50% {
                background: rgba(0, 219, 40, 0.2);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
              100% {
                background: rgba(0, 219, 40, 0.4);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
        }

        @-webkit-keyframes parpadeo {
            0% {
                background: rgba(0, 219, 40, 0.1);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
              50% {
                background: rgba(0, 219, 40, 0.2);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
              100% {
                background: rgba(0, 219, 40, 0.4);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
        }

        @keyframes parpadeo {
            0% {
                background: rgba(0, 219, 40, 0.1);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
              50% {
                background: rgba(0, 219, 40, 0.2);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
              100% {
                background: rgba(0, 219, 40, 0.4);
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
        }
    </style>        </header>




        <!-- Seccion -->
        <section class="container destacados">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <div class="contenidoSeccion">
                      <div class="buscadorProductos lightGrey">
                        <div class="col-xs-12">
                          <h2>Buscador de <span class="red">Productos</span></h2>
                        </div>
                        <form class="" action="" method="post">
                          {% csrf_token %}
                          {% for error in errors  %}
                          <div class="alert alert-danger mb-4" role="alert">
                            <strong>{{ error }}</strong>
                          </div>
                          {% endfor %}
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="mb-4">
                                {{ form.country}}
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="mb-4">
                                <div class="form-group">
                                  <label >Subtipo de Articulo</label>
                                  <select id="id_province" class="form-control" name="state">
                                    <option value="-----">Select Province/State</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                        <script>$("#id_country").change(function () {var countryId = $(this).val();
                        $.ajax({type: "POST", url: "{% url 'get-province' %}",
                        data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'country': country},
                        success: function (data) {console.log(data.provinces);
                        let html_data = '<option value="-----">Select Province/State</option>';
                        data.provinces.forEach(function (data) {html_data += `<option value="${data}">${data}</option>`}); $("#id_province").html(html_data);}});});
                        </script>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                </div>


                <div class="col-md-4 col-lg-4">
                    <div class="bannerAside">
                        <a href="stock.php" title="Stock"><img src="img/banner/banner_stock.jpg"></a>
                    </div>

                    <div class="novedadesAside">
                        <h3>Novedades</h3>
                        <button type="button" class="btn btn-default" onclick="location.href = 'novedades.php'"> Ver todas </button>
                        <br>

                        <a href="https://electrouniverso.com.ar/novedades_detalle.php?id=7"><figure><img src="https://electrouniverso.com.ar/img/novedades/19-03-04En Contacto 2018.jpg" width="100%"></figure></a>
                                         <div class="tituloCaso">Edición 3000</div>
                                        <div class="clearfix"></div><br>

                    </div>

                    <div class="bannerAside">
                         <h3>Logística</h3>
                        <a href="logistica.php" title="Logística"><img src="img/banner/banner_logistica.jpg"></a>
                    </div>
                </div>
            </div>
        </section>



        <section class="fluid-container redelecFooter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <a href="" title="Fegime"><img src="img/redelec.png"></a>

                        <!--
                        -->
                    </div>
                </div>
            </div>
        </section>

        <!-- Marcas -->
        <section class="fluid-container marcas">
            <div class="container">
                <div class="row">
                    <div class="contenedorLineas multiple-items">
                        <div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-11-25Abb Gris-page-001 (1).jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-03-08Cambre Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-10-55Conextube Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-10-55Daisa Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-03-20Genrod Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-04-52Hellermann Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-10-22Imsa Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-02-11Lumenac Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-10-24Philips Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-02-21Phoenix Contact Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-02-32Prysmian Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-05-01Samet Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-02-42Scame Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-02-59Schneider Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-11-29Sica Gris-page-001 (1).jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-03-06Siemens Gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-03-48homeplast gris.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-03-24zoloda.jpg" width="90%">
                                         </div><div class="unaMarca">
                                          <img src="https://electrouniverso.com.ar/img/marcas/16-10-05Ledvance Gris-page-001.jpg" width="90%">
                                         </div>                    </div>
                </div>
            </div>
        </section>


        <div class="clearfix"></div>
        <footer class="fluid-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="subnav">
                            <ul>
                                <li><a href="index.php" title="Inicio">Inicio</a></li>
                                <li><a href="productos_categorias.php" title="Productos">Productos</a></li>
                                <li><a href="centro_a_distancia.php" title="Servicios">Servicios</a></li>
                                <li><a href="quienes_somos.php" title="Institucional">Institucional</a></li>
                                <li><a href="contacto.php" title="Contacto">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="sabemosFooter">
                            <a href="index.php" title="Electro Universo"><img src="img/electro_universo_footer.png" alt="Electro Universo"></a>
                            <br><br>
                            <img src="img/sabemos_mas_damos_mas_footer.png" alt="Electro Universo Sabemos más damos más">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="contactoFooter">
                            <a href="contacto.php"><img src="img/atencion_footer.png" alt="Electro Universo 43083300"></a><br><br>
                            Av. Jujuy 1061 - (1229) <br>
                            Ciudad Autónoma de Buenos Aires. <br>
                            Horario de Atención: Lunes a Viernes de 8 a 18 hs.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2">
                        <img src="img/iso.png">
                        <br>
                        <a href="envianos_cv.php" title="Envianos tu CV" class="mobileOFF"><img src="img/enviar_cv.png" alt="Envianos tu CV"></a>
                        <div class="socialFooter">
                            <li><a href="https://www.facebook.com/ElectroUniversoComunidad/" title="Facebook" target=0><img src="img/ico_facebook.jpg" alt="Facebook"></a></li>
                            <li><a href="https://ar.linkedin.com/company/electro-universo" title="Linkedin" target=0><img src="img/ico_linkedin.jpg" alt="Linkedin"></a></li>
                            <!--
                            <li><a title="Twitter" target=0><img src="img/ico_twitter.jpg" alt="Twitter"></a></li>
                             -->


                            <li><a href="https://www.instagram.com/electro.universo/?igshid=kvosbsqdz5ap" title="Instagram" target=0><img src="img/insta.jpg" alt="Instagram"></a></li>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="fluid-container legal">
                Copyright © 2021 | Todos los derechos reservados | Electro Universo
                <br><br>
                <a href="https://servicios1.afip.gov.ar/clavefiscal/qr/mobilePublicInfo.aspx?req=e1ttZXRob2Q9Z2V0UHVibGljSW5mb11bcGVyc29uYT0zMDUzNDA1MTA0OV1bdGlwb2RvbWljaWxpbz0wXVtzZWN1ZW5jaWE9MF1bdXJsPWh0dHA6Ly93d3cuZWxlY3Ryb3VuaXZlcnNvLmNvbS5hci9dfQ==" target="_F960AFIPInfo">
                <img src="//www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="70" alt="Logo AFIP" />
                </a>
        </div>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script type="text/javascript" src="js/jquery.ui.datepicker-es.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.royalslider-min.js"></script>
        <script type="text/javascript" src="js/jquery.cubeportfolio.min.js"></script>
        <script src="js/slick.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-88619217-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>